@use '../themes/defaultTheme' as *;
html {
    overflow-y: auto;
}
nav {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: $white;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    * {
        margin-bottom: 0;
    }
    .title {
        font-size: 28px;
        text-shadow: 2px 3px 5px rgba($primary-3, 0.5);
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 20px;
    }
    .menu {
        font-size: 40px;
        visibility: hidden;
        position: absolute;
        top: 18.5px;
        right: 19px;
        @keyframes openMenu {
            0% {
                transform: rotateZ(0deg);
                color: $primary-3;
            }
            100% {
                transform: rotateZ(-90deg);
                color: $primary-1;
            }
        }
        @keyframes closeMenu {
            0% {
                transform: rotateZ(-90deg);
                color: $primary-1;
            }
            100% {
                transform: rotateZ(0deg);
                color: $primary-3;
            }
        }
    }
    div {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        &:nth-of-type(2) {
            * {
                font-size: 24px;
                margin-right: 53px;
                color: $primary-1;
            }
        }
        &:hover {
            cursor: pointer;
        }
        p {
            font-size: 22px;
            position: relative;
            margin-right: 1.5vw;
            margin-left: 1.5vw;
            &::before {
                content: '';
                position: absolute;
                width: 0;
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: $primary-1;
                visibility: hidden;
                transition: all 0.3s linear;
            }
            &:hover {
                &::before {
                    visibility: visible;
                    width: 100%;
                    background-color: $primary-8;
                }
            }
        }
    }
    @media screen and (max-width: 983px) {
        flex-direction: column;
        align-items: flex-start;
        .title {
            margin-left: 20px;
        }
        .menu {
            visibility: visible;
            &:hover {
                cursor: pointer;
                user-select: none;
            }
        }
        div {
            display: none;
            width: 100%;
            flex-direction: column;
            align-items: center;
            * {
                margin-top: 20px;
                width: 90%;
            }
            p:hover{
                background-color: rgba($primary-8, 0.25);
            }
            &:nth-of-type(2) {
                flex-direction: row;
                margin-bottom: 5px;
                * {
                    font-size: 30px;
                    margin: auto !important;
                    margin-top: 20px !important;
                }
            }
        }
    }
    @media screen and (max-width: 333px) {
        .title {
            width: 0;
        }
    }
}
